@import './styles/reset.css';
@import './styles/header.css';
@import './styles/footer.css';

body {
    font-family: Times, 'Times New Roman', serif;
}
.main {
    clear: both;
    /* background-color: brown; */
}

.nodisplay {
     display: none;
}
