.header .header__main {
    margin: 35px auto;
}

.header .header__menu__top {
    border-bottom: 1px solid #f0f0f0;
    background: #fafafa;
    text-transform: uppercase;
    padding: 6px 0;
}

.header .header__menu__top__link {
    font-size: 12px;
    padding: 10px 15px;
    display: inline-block;
}

.header .header__name {
    font-size: 48px;
    text-align: center;
    margin: 0 0 10px;
    font-family: 'Old Standard TT', serif;
}

.header .header__name__slogan {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #c7c7c7; 
    text-align: center;
}

.header .header__menu {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    text-align: center;
    padding: 10px 0;
}

@media screen 
    and (max-width: 992px) {
        .header .header__menu .header__menu__desk {
            display: none;
        }
    }

.header .header__menu .header__menu__mobile {
    display: none;
}

.header .header__menu .header__menu__mobile .header__menu-hamburguer-wrap .menu-hamburguer {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}

.header .header__menu .header__menu__mobile .header__menu-hamburguer-wrap .menu-hamburguer-text {
    cursor: pointer;
    padding-left: 7px;
    text-transform: uppercase;
    display: inline-block;
    font-size: 26px;
    vertical-align: middle;
}

.menu-hamburguer .bar1, .menu-hamburguer .bar2, .menu-hamburguer .bar3 {
    width: 35px;
    height: 4px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
      
.menu-hamburguer.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
      
.menu-hamburguer.change .bar2 {opacity: 0;}
      
.menu-hamburguer.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.header .header__menu .header__menu-hambuguer {
    opacity: 0;
    background-color: rgb(250, 250, 250);
    max-height: 0;
    transition: max-height 0.25s linear;
}

@media screen 
    and (max-width: 992px) {
        .header .header__menu .header__menu__mobile {
            display: inline-block;
        }      

        .header .header__menu .header__menu-hambuguer.active {
            margin-top: 15px;
            max-height: 600px;
            opacity: 1;
        }

        .header .header__menu .header__menu-hambuguer .header__menu__link {
            display: block;
            font-size: 18px;
            text-decoration: none;
            margin-left: 0;
            padding: 15px 40px;
            border-bottom: 1px #FFF solid;
        }

        .header .header__menu .header__menu-hambuguer .header__menu__link:hover {
            background-color: #FFF;
            color:  #393939;
        }

    }

.header .header__menu__link {
    display: inline-block;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 18px;
}
