.main {
    clear: both;
}

.main .main__about {
    overflow: hidden;
}

.main .main__about .main__about__about {
    width: 100%;
}

.main .main__about .main__about__about h2 {
    text-align: center;
    padding-top: 0;
}

.main .main__about .main__about__about p {
    font-size: 22px;
    line-height: 28px;
    text-align: center;
}

.main .main__about .main__about__photo {
    margin-top: 25px;
    text-align: center;
    width: 100%;
}    

.main .main__about .main__about__photo .main__about__photo__avatar { 
    margin: 0 auto;
    max-width: 100%;
}

@media screen 
    and (min-width: 992px) {        
        .main .main__about .main__about__about {
            float: left;
            width: calc(70% - 20px);
            margin: 0;
            padding-right: 20px;
        }

        .main .main__about .main__about__about h2 {
            text-align: left;
        }
        
        .main .main__about .main__about__about p {
            text-align: left;
        }

        .main .main__about .main__about__photo {
            margin-top: 0;
            width: 30%;
            float: right;
            text-align: right;
        }
    }

/* 
    Tabs
*/
.main .main__tabs {
    clear: both;
    overflow: hidden;
}

.main .main__tabs .main__tabs__button {
    background-color: #818592;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
    margin-right: 15px;
}

.main .main__tabs .main__tabs__button.active {
    background-color: #363940;
}

.main .main__tabs__tab {
    display: none;
    border: 1px solid #c7c9cf;
    padding: 20px;
}

.main .main__tabs__tab.active {
    display: block;
    border-top: 4px #363940 solid;
}

/*
    Contact Form
*/
.main__contact {
    clear: both;
    overflow: hidden;
}
.main__contact .form-label {
    display: block;
    padding-bottom: 3px;
    font-weight: bold;
}

.main__contact .field {
    display: block;
    padding: 7px;
    margin-bottom: 20px;
    width: 100%;
}

.main__contact .loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #818592;
    display: none; 
    text-align: center;
    font-size: 36px;
    color: #fff;
}

.main__contact .loading.show {
    display: block;
}

@media screen 
    and (min-width: 992px) {  
        .main__contact .field {
            width: 50%;
        }

        .main__contact textarea.field {
            width: 80%;
        }
    }

/* 
    Skills
*/
.main .main__skills { 
    clear: both;
    overflow: hidden;
}

.main .main__skills .main_skills_bars__bar {
    border: 1px solid #c7c9cf;
    margin-top: 15px;   
    overflow: hidden;
}

.main .main__skills .main_skills_bars__bar__inner { 
    float: left;
    color: #fff;
    background-color: #363940;
    padding: 10px;
}

.main .main__skills .main_skills_bars__bar .percentual { 
    display: inline-block;
    float: right;
    padding: 10px;
}

@media screen 
    and (min-width: 992px) { 
        .main .main__skills .main__skills__bars {
            width: 50%; 
        }

        .main .main__skills .main_skills_bars__bar {
            width: calc(100% - 20px);
            border: 1px solid #c7c9cf;
            margin-top: 15px;
        }

        .main .main__skills .main__skills__bars.bars-left {
            float: left;
        }

        .main .main__skills .main__skills__bars.bars-right {
            float: right;
        }

        .main .main__skills .main__skills__bars.bars-right .main_skills_bars__bar {
            width: 100%;
        }
    }